.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: gradient 30s ease infinite;
    -moz-animation: gradient 30s ease infinite;
    animation: gradient 30s ease infinite;
    background: linear-gradient(224deg, #2197c3, #1b6ebf, #6646e8, #9732db, #bc32db);
    background-size: 1000% 1000%;
}

.explore {
    background-color:transparent;
    border-width:2px;
    border-color:deepskyblue;
}
.explore:hover {
    background-color:deepskyblue;
    border-color:transparent;
    
}

@-webkit-keyframes gradient {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes gradient { 
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}